<!-- Property and EventBindings -->
<!-- <textarea name="post-content" id="post-content" cols="50" rows="10">{{postContent}}</textarea>
<textarea name="post-content" id="post-content" cols="50" rows="10" [value]="postContent" #postTextArea></textarea>
<br>
<button id="btnAddPost" (click)="onAddPost(postTextArea)">Add Post</button>
<p>{{postContent}}</p> -->

<!-- Two way binding -->
<!-- <textarea name="post-content" id="post-content" cols="50" rows="10" [(ngModel)]="newPostContent"></textarea>
<br>
<button id="btnAddPost" (click)="onAddPost()">Add Post</button>
<p>{{postContent}}</p> -->

<!-- Material Elements -->

<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading">
  <form (submit)="onSavePost()" [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Post Title</mat-label>
      <input
        matInput
        formControlName="title"
      />
      <mat-error *ngIf="form.get('title')?.invalid">Please enter a valid title</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Post Content</mat-label>
      <textarea
        matInput
        formControlName="content"ī
      ></textarea>
      <mat-error *ngIf="form.get('content')?.invalid">Please enter a valid content</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button id="imageUploadBtn" type="button" (click)="filePicker.click();">Upload Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)"/>
    </div>
    <div class="image-preview" *ngIf="imagePreview != '' && imagePreview">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <button mat-raised-button color="primary" id="addPostBtn" type="submit">
      Save Post
    </button>
  </form>
</mat-card>
